<footer class="page-footer font-small bg-secondary pt-4"> 

  <div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center"> 
      <h4 class="text-white">Siga-nos em nossas redes sociais </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center ">

    <ul class="social-network">
      <li>
        <a href="https://github.com/samuels-code" target="_blank" class="icogithub"> 
          <i><img src="https://img.icons8.com/glyph-neue/60/000000/github.png"/></i>
        </a>

      <li>
        <a href="https://www.linkedin.com/in/samuel-da-silva-12322b225/" target="_blank" class="icolinkedin"> 
          <i><img src="https://img.icons8.com/ios-glyphs/60/000000/linkedin.png"/></i>
        </a>

      </li> 

    </ul>


    </div>
  </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3"> 
    <span class="text-light"> © 2022 Copyright: </span> 
    <a class="text-light" target="_blank" href="https://brazil.generation.org/"> 
  Brasil.generation.org</a>
  </div>

</footer>